@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:wght@400;500;600;700&display=swap');

:root {
    --background: #000000;
    --primary: #a875ea;
    --text: #ffffff;
    --border: #c0c0c0;
}

* {
    font-family: 'Instrument Sans', sans-serif;

    box-sizing: border-box !important;
    margin: 0;
    padding: 0;
}

body {
    width: 100dvw;
    height: 100dvh;

    background: var(--background);
    color: var(--text);

    font-family: 'Instrument Sans', sans-serif;

    overflow: hidden;
}

canvas {
    border-radius: 0.75rem;
}

input,
button {
    font-family: 'Instrument Sans', sans-serif;

    color: var(--text);
}

.container {
    display: flex;

    width: 100dvw;
    height: 100dvh;

    flex-direction: column;

    align-items: center;
    justify-content: center;

    gap: 1rem;
}

.title {
    color: var(--primary);

    font-size: 3rem;
    font-weight: 700;
}

main {
    display: flex;

    flex-direction: row;
    align-items: center;

    gap: 1rem;
}

@media only screen and (max-width: 1024px) {
    main {
        flex-direction: column;
    }
}

.settings {
    display: flex;

    padding: 1rem 1.5rem;

    border: solid 2px var(--primary);
    border-radius: 0.5rem;

    flex-direction: column;

    align-items: center;
    justify-content: center;

    gap: 0.5rem;
}

.settings > h2 {
    font-size: 2rem;
    font-weight: 600;

    text-align: center;
}

.config {
    display: grid;

    align-items: center;
    justify-content: center;

    grid-template-columns: auto 8rem;
    grid-gap: 0.25rem;
}

.config label {
    font-weight: 500;
}

.config input {
    padding: 0.25rem;

    border: solid 1px var(--border);
    border-radius: 0.5rem;
}

.config input:disabled {
    opacity: 50%;
}

.extra-config, .slider-config {
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;

    gap: 0.5rem;
}

.extra-config > input[type='number'] {
    width: 100%;
}

.slider-config > input[type='number'] {
    width: 3rem;
}

.slider-config > input[type='range'] {
    width: 100%;
}

#generate {
    padding: 0.5rem 0.75rem;

    border-radius: 0.5rem;

    background: var(--primary);

    font-weight: 600;

    transition: all 200ms;
}

#generate:hover {
    background: var(--text);

    color: var(--primary);
}

#generate:disabled {
    opacity: 50%;
}
